@import '/src/utils/colors.scss';
@import '/src/utils/mixins.scss';
@import '/src/utils/reset.scss';

.small--Number-wrapper{
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
    width: 585px;
    height: 108px;
    .smallNumber-item{
        .smallNumber--day{
            margin-bottom: 15px;
            color: $text;
            font-size: 22px;
            line-height: 27px;
        }
        .item--wrapper{
            display: flex;
            .smallNumber--temperature{
                height: 77px;
                width: 88px;
                font-size: 80px;
                color: $text;
                @include center;
            }
            .small--cloud{
                margin-left: 10px;
                width: 67px;
                height: 44px;
            }
        }
    }
}