.RefreshButton{
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background-image: url('../../assets/img/refresh.png');
    text-align: center;
    cursor: pointer;
    img{
        margin-top: 7px;
    }
}