@import '/src/utils/reset.scss';
@import '/src/utils/colors.scss';
@import '/src/utils/mixins.scss';

.main--content{
    width: 1254px;
    margin: 0 auto;
    margin-top: 57px;
    .main--content-wrapper{
        display: flex;
        .left--content{
            width: 625px;
            h1{
                color: #fff;
                font-weight: 700;
                font-size: 44px;
            }
            .data--wrapper{
                width: 276px;
                @include center;
                justify-content: space-between;
                .data--wrapper-item{
                    color: #fff;
                    font-size: 24px;
                }
            }
        }
        .right--content{
            width: 625px;
        }
    }
}